
html {font-size: 62.5%!important; /* 10÷16=62.5% */}
@media only screen and (min-width: 481px){
    html {
        font-size: 94%!important; /* 15.04÷16=94% */
    }
}
@media only screen and (min-width: 561px){
    html {
        font-size: 109%!important; /* 17.44÷16=109% */
    }
}
@media only screen and (min-width: 641px) {
    html {
        font-size: 125% !important; /* 20÷16=125% */
    }
}
.bar-top{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    z-index: -99;
}
.bar-top ul{/*设置导航栏的框框*/
    margin: 10px auto;/*框框整体的位置，30px是指离网页的顶部和下部的距离，auto控制的是左右距离为自动调节*/
    width: 100%;/*框框的宽度*/
    height: 25%;/*框框的长度*/
    padding: 0px;/*将框框的padding设置为零，不然会导致框框里的内容与框边缘有间隔*/
}
.bar-top ul li{
    width: 20%;
    list-style-type: none;/* 去掉li前的点 */
    float: left;/*将li设置成做浮动，变为联动*/
}
.bar-top ul li a{
    display: block;/*将a变成块状*/
    width: 100%;/*设置块的宽度*/
    height: 50px;/*设置块的长度*/
    font-family: Microsoft Yahei;
    line-height: 50px;/*设置字体在块中的高度*/
    background-color: #2f4f4f;
    margin: 0px 0px;/*块里的高宽通过margin设置*/
    color: #fff;
    text-align: center;/*字体居中*/
    text-decoration: none;/*去掉下划线*/
    font-size: 1em;
}
.bar-top ul li a:hover{
    background-color: #2f6f4f;
}